 
*{
    background-color: rgb(255, 255, 255);
}

.header{
    display: flex;
     margin-right: 20px;
     padding-right: 5%;
     flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;   */
    
}

.logo
{
    width: 100px;
    height: 100px;  
    margin: 10px;
    cursor: pointer;

    
    
}

.nav{
    display: flex;
    gap: 15px;
    cursor: pointer;
    font-size:xx-large;
    list-style: none;
    
    
}

.body-container{

    margin-top: 70px;
    
    
}

.restro{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: space-evenly;

}
.card {
  width: 260px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 10px;
  cursor: pointer;
  
  
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.restro-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.rating {
  background-color: #48c479;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
}

/* .filter-btn{
    margin-top: 30px;
} */

.btn{
     
    align-items: center;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
    cursor: pointer;


}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
} 

.shimmer-card
{
  margin: 20px;
  width: 260px;
  height: 400px;
  background-color: #f0f0f0;  
}


 /* .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
 } */

 .login-btn{
    /* background-color: #eff3f1; */
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    font-size: xx-large;
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    border: none;
 }


 .searchBar{
  display: flex;
  /* justify-content: center;
  align-items: center;   */
  margin: 50px;
  gap: 20px;
  
 }